*{
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: auto 1fr 1fr auto;
    gap: 10px;
    height: 100vh;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    padding: 10px;
}
.cabecera{
    grid-column: 1/4;
}
.l1{
    grid-row: 2/3;
}
.l2{
    grid-row: 3/4 ;
}
.cuerpo{
    grid-column: 2/3;
    grid-row: 2/4;
}
.r1{
    grid-column: 3/4;
    grid-row: 2/4;
}
.pie{
    grid-column: 1/4;
}